.hero-container {
    background-size: cover;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.cta-button {
    background-color: #336167FF; /* UV theme */
    border: none;
    padding: 10px 20px;
    color: #336167;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 500px; /* Adjust this value to move it further down */
}

.cta-button:hover {
    background-color: #4e8483;
}
